li {
  border-radius: 58%;
  height: 150px;
  width: 150px;
  background: -webkit-gradient(radial, 75 25, 75, 75 20, 40, from(#444), to(#777)) #777;
  color: #fff;
  display: table;
  float: left;
  list-style-type: none;
  margin: 55px;
  position: relative;
  text-align: center;
  top: 0;
}

h2 {
  display: table-cell;
  font-size: 12px;
  padding: 0 20px 10px;
  vertical-align: middle;
  text-transform: uppercase;
}

h2 em {
  font-size: 25px;
  padding: 0 0 10px;
}

em {
  color: #fff;
  display: block;
  font-family: Georgia, "Times New Roman", sans-serif;
  font-size: 20px;
}
