.cardContainer {
  border: solid black 2px;
  width: 15vw;
  height: 5vh;
  margin: 5%;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.cardContainer .describe {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50%;
  padding-left: 5%;
  padding-right: 5%;
  color: black;
  font-weight: 600;
}
