.cardContainer{
    border: solid black 2px;
    width: 15vw; height: 15vh;
    margin: 5%;
    font-family: 'Montserrat', sans-serif;
    display: flex; align-items: center; justify-content: center;flex-direction: column;
    cursor: pointer;

    .describe{
        display: flex; justify-content: center;align-items: center;text-align: center;
        height: 50%;
        padding-left: 5%;padding-right: 5%;
        color: black;font-weight: 600;
    }
    

    background-color: #a1ae25;
    color: #523637;
    border: solid #523637 1px;

    text-shadow: 0.5px 0.5px 0 #e1dc6b, 0.5px -0.5px 0 #e1dc6b, -0.5px 0.5px 0 #e1dc6b, -0.5px -0.5px 0 #e1dc6b,
    0.5px 0px 0 #e1dc6b, 0px 0.5px 0 #e1dc6b, -0.5px 0px 0 #e1dc6b, 0px -0.5px 0 #e1dc6b;

}