.container {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 30vh;
  height: 50vh;
  max-width: 100%;
  margin: 0% 5%;
  box-shadow: 0.5rem 0.5rem #2b331f, -0.5rem -0.5rem;
}

.container .myH2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
  height: 5vh;
}

.container .content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
}

.container .content .arrowRight,
.container .content .arrowLeft {
  width: 6rem;
  height: 6rem;
  min-height: 6rem;
  min-width: 6rem;
  cursor: pointer;
}

.container .content .listItemContainer {
  display: flex;
  align-items: center;
  min-height: 20vh;
  height: 30vh;
}

.container .content .content:nth-child(2) {
  margin-left: 0px;
}
